<div class="cards-container" [ngClass]="cssClass" [ngStyle]="{'width.px': width, 'height.px': height}">
  <ng-container *ngFor="let card of cards; let i = index">
    <app-card-flip-animation

      [id]="card.id"
      [disable]="card.disable"
      [animationTop]="i < (cards.length - 1) ? card.topState: 'active' "
      [animationBottom]="card.bottomState"
      [width]="width"
      [height]="height"
      [disableBottomAnimation]="i === (cards.length - 1) ? true: false"
      [disableTopAnimation]="i === 0 ? true : false"
      [template]="cardsContent"
      (bottomFoldInDone)="onBottomFoldInDone(i-1)"
      (topFoldInStart)="onTopFoldInStart($event, i + 1)"
      (topFoldInDone)="onTopFoldInDone($event, i + 1)"
      (topFoldOutDone)="onTopFoldOutDone($event, i + 1)"

      appCardFlipPan
      (panUpChange)="onPanUp($event, i)"
      (panDownChange)="onPanDown($event, i)"
      (cardTransitionEnd) = "onCardTransitionEnd(i)"
      [isPanActive]="activePan"
      >
    </app-card-flip-animation>
    <ng-template #cardsContent>
        <h4>Card Title</h4>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel sollicitudin tellus.
        Praesent vel quam vestibulum, consectetur turpis quis, placerat nibh.
        Donec semper augue id mauris tincidunt, a ullamcorper tortor volutpat.
        In vulputate fermentum ultrices. Sed ornare mauris eu elementum elementum.
        Donec non risus sem. Integer pulvinar sagittis neque quis accumsan.
        Aenean feugiat pharetra metus et venenatis.
        </p>
        <p>
          Sed ornare mauris eu elementum elementum.
        Donec non risus sem. Integer pulvinar sagittis neque quis accumsan.
        Aenean feugiat pharetra metus et venenatis.
        </p>
        <p>
          Sed ornare mauris eu elementum elementum.
        Donec non risus sem. Integer pulvinar sagittis neque quis accumsan.
        Aenean feugiat pharetra metus et venenatis.
        </p>
        <p>
            Donec vel sollicitudin tellus.
            Praesent vel quam vestibulum, consectetur turpis quis, placerat nibh.
            Donec semper augue id mauris tincidunt, a ullamcorper tortor volutpat.
        </p>
    </ng-template>
  </ng-container>
  </div>

