<div class="card" [id]="id" [ngClass]="{
  'send-to-back': sendToBack,
  'hide': disable
}">

  <div class="card-top" [@topCardState]="animationTop" (@topCardState.done)="topAnimationDone($event)" (@topCardState.start)="topAnimationStart($event)"
    [ngClass]="{'flipped': topFlipped}">
    <div *ngIf="template" class="card-content">
      <ng-container *ngTemplateOutlet="template"></ng-container>
    </div>
  </div>
  <div class="card-bottom" [@bottomCardState]="animationBottom" (@bottomCardState.done)="bottomAnimationDone($event)" (@bottomCardState.start)="bottomAnimationStart($event)"
    #cardBottom>
    <div class="card-screen" [@bottomCardScreenState]="bottomCardScreenAnimation"></div>
    <div *ngIf="template" class="card-content">
      <ng-container *ngTemplateOutlet="template"></ng-container>
    </div>
  </div>
  <div class="buttons">
    <button (click)="onClickUp(cardBottom)" class="btn">Up</button>
    <button (click)="onClickDown(cardBottom)" class="btn">Down</button>
  </div>
</div>
